.buildpath
.settings
.project
.DS_Store
includes/config.php
files/*
!files/index.html
!files/temp/index.html
lib/ezpdf/fonts/php_*
/nbproject/private/
/dotProject/
!/modules/files/

/vendor/

##### IDE #####
# phpstorm
.idea/

# netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#  codeception
tests/acceptance.suite.yml
tests/functional.suite.yml
tests/unit.suite.yml

# php documentation stuff
.phpdoc/*

