.buildpath
.settings
.project
.DS_Store
includes/config.php
files/*
!files/index.html
!files/temp/index.html
lib/ezpdf/fonts/php_*
/nbproject/private/
/nbproject
/dotProject/
!/modules/files/
