.buildpath
.settings
.project
.DS_Store
includes/config.php
files/*
!files/index.html
!files/temp/index.html
lib/ezpdf/fonts/php_*
/nbproject/private/
/nbproject
/dotProject/
!/modules/files/

/vendor/
.idea/codeception.xml
.idea/deployment.xml
.idea/dotProject.iml
.idea/modules.xml
.idea/php-test-framework.xml
.idea/php.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/jshint.xml
.idea/.gitignore
