BODY.mainpage {
	margin: 0px;
	background-color: #ffffff;
	font-family: Osaka,verdana,sans-serif;
	font-size: 10pt;
}
A:link {
	color : BLUE;
	text-decoration: none;
}
A:visited {
	color : BLUE;
	text-decoration: none;
}
A:active {
	color : BLUE;
	text-decoration: none;
}

/* Add stuff for presentation abstraction */
/* TOP NAVIGATION Table Style */
TABLE.nav {
	background-color: #ccc;
	border: 2px outset #eee;
	/* bgcolor="#cccccc" style="border: outset #eeeeee 2px;" */
}

TD {
	FONT-FAMILY: verdana,Sans-Serif; FONT-SIZE: 8pt
}

TR {
	FONT-FAMILY: verdana,Sans-Serif; FONT-SIZE: 8pt
}

h1, .title {
	font-size: 18pt;
	font-weight: normal;
	margin: 0px;
}
h2, .subtitle {
	font-size: 12pt;
	font-weight: normal;
	margin: 0px;
}

bordertable {
	border: 1px black solid;
}

.bordertable{
 border: 1px black solid;
}

.button{
	border: 1px black solid;
	font-family: verdana,Sans-Serif;
	font-size: 8pt;
	/*width: 100px; too small for some translations*/
}

.text{
 border: 1px black solid;
 font-family: Osaka,verdana,Sans-Serif;
 font-size: 8pt;
 /*height: 20px;Select boxes are too small in Mozilla */
}

.textarea{
	font-family: Osaka,verdana,helvetica,arial,sans-serif;
	font-size: 9pt;
}

textarea.small {
	border: 1px black solid;
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt;
}
/*
**********************************
Begin IE TD buttonizing
**********************************
*/

TD.clsBtnUp {
	cursor: hand;    color: #FFFFFF;    padding: 0 3;    border: inset 2px;
}

TD.clsBtnDown {
	cursor: hand;    color: #FFFFFF;    padding: 0 3;    border: inset 2px;
}

TD.clsBtnOn {
	cursor: hand;    color: #FFFFFF;    padding: 0 3;    border: outset #eeeeee 2px;
}

TD.clsBtnOff {
	color: #FFFFFF;    padding: 0 3;    tab-index: 0;    border: solid #559999 2px;
}

TD.topBtnUp {
	cursor: hand;    color: #FFFFFF;    padding: 0 3;    border: inset 2px;
}

TD.topBtnDown {
	cursor: hand;    color: #FFFFFF;    padding: 0 3;    border: inset 2px;
}

TD.topBtnOn {
	cursor: hand;    color: #FFFFFF;    padding: 0 3;    border: outset #eeeeee 2px;
}

TD.topBtnOff {
	color: #FFFFFF;    padding: 0 3;    tab-index: 0;    border: solid #cccccc 2px;
}
TD.nav {
	color: #FFFFFF;
}

/* Standard table 'spreadsheet' style */
TABLE.tbl {
	background: #ffffff;
}

TABLE.tbl TH {
	background-color: #878676;
	color: white;
	list-style-type: disc;
	list-style-position: inside;
	border: outset #D1D1CD 1px;
	font-weight: normal;
}

TABLE.tbl TD {
	background-color: #f4efe3;
}

/* a 'standard' table */
TABLE.std {
	border: solid #878676 2px;
	background: #f4efe3;
}
TABLE.std TH {
	background-color: #878676;
	color: white;
	list-style-type: disc;
	list-style-position: inside;
	border: outset #D1D1CD 1px;
}

TABLE.std TD.hilite {
	background-color: #ffffff;
}

/* contacts table */
table.contacts {
	background-color: #878676;
}

table.contacts td {
	background-color: #f4efe3;
}

table.contacts td.hilite {
	background-color: #ffffff;
}

/* links in header blocks */
A.hdr:link, A.hdr:active, A.hdr:visited {
	color: #ffffff;
}

/* tabbed boxes */
TD.tabon {
	background: #ffffff;
	border-top: outset #cccccc 2px;
	border-left: outset #cccccc 2px;
	border-right: outset #cccccc 2px;
	border-bottom: none;
}
TD.taboff {
	background: #f4efe3;
	border-top: outset #cccccc 2px;
	border-left: outset #cccccc 2px;
	border-right: outset #cccccc 2px;
	border-bottom: solid #cccccc 2px;
}
TD.tabsp {
	border-bottom: solid #cccccc 2px;
}
TD.tabox {
	border-left: solid #cccccc 2px;
	border-right: solid #cccccc 2px;
	border-bottom: solid #cccccc 2px;
}

/* Message styles */
.warning {
	color: #ff6600;
}
.error {
	color: #ff0000;
}
.message {
	color: #006600;
	font-weight: bold;
}

.no_ {
	color: #ff0000;
	font-weight: bold;
}

/* popup calendar */
body.popcal {
	background-color: #f0f0f0;
}

table.poptitle {
	background-color: #ffffff;
}
table.poptitle td {
	background-color: #ffffff;
}
table.poptitle th {
	background-color: #ffffff;
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
}

table.popcal {
	background-color: #cccccc;
}

table.popcal th {
	background-color: #ffffff;
	color: #000000;
	font-family: helvetica,arial,sans-serif;
	font-size: 9pt;
	font-weight: normal;
}

table.popcal td {
	background-color: #e0e0e0;
	font-family: helvetica,arial,sans-serif;
	font-size: 8pt;
	text-align: center;
}

table.popcal td.empty {
	background-color: #efefe7;
}

table.mocal td.day  {
	background-color: #cccccc;
	text-align: center;
}

table.popcal td.today {
	background-color: #cccccc;
}

table.popcal td.weekend {
	background-color: #eeeeee;
}

table.popcal a:link,
table.popcal a:visited {
	color: #0000ff;
	text-decoration: none;
}

table.popcal a.today:link,
table.popcal a.today:visited {
	color: #ff0000;
	font-weight: bold;
}

table.popcal a.weekend:link,
table.popcal a.weekend:visited {
	color: #777777;
}

/* month calendar - title area */
table.motitle {
	background-color: #ffffff;
}
table.motitle td {
	background-color: #ffffff;
}
table.motitle th {
	background-color: #ffffff;
	font-size: 10pt;
}

table.mocal {
	background-color: #cccccc;
}
table.mocal th {
	background-color: #878676;
	color: #ffffff;
}
table.mocal td {
}
table.mocal td.week {
	vertical-align: top;
	background-color: #878676;
	height: 80px;
}
table.mocal td.empty {
	background-color: #ffffff;
	height: 80px;
}
table.mocal td.day  {
	background-color: #f4efe3;
	color: #333366;
	text-align: left;
	vertical-align: top;
	height: 80px;
}
table.mocal td.today {
	background-color: #878676;
	color: #ffffff;
	text-align: left;
	vertical-align: top;
}

table.mocal td.weekend {
	background-color: #efefe7;
	text-align: left;
	vertical-align: top;
}

table.mocal .event {
}

/* mini calendar - title area */
table.minititle {
}
table.minititle td {
}
table.minititle th {
	font-weight: normal;
}

table.minical {
}
table.minical th {
	font-weight: normal;
}
table.minical td {
}
table.minical td.week {
}
table.minical td.empty {
}
table.minical td.day  {
	text-align: center;
}
table.minical td.today {
	background-color: #e0e0e0;
	text-align: center;
}
table.minical td.weekend {
	text-align: center;
}
table.minical .event {
}

/* daily calendar */
table.tbl td.event {
	background-color: #fff0b0;
}

table.tbl td.event td {
        background-color: #fff0b0;
}

.hidden {display:none;}
