/* SimpleTabs: default style */

div.simpleTabs { padding:10px; }
ul.simpleTabsNavigation { margin:0 10px; padding:0; }
ul.simpleTabsNavigation li { list-style:none; display:inline; margin:0; padding:0; }
ul.simpleTabsNavigation li a { border:1px solid #E0E0E0; padding:3px 6px; background:#F0F0F0; text-decoration:none; }
ul.simpleTabsNavigation li a:hover { text-decoration:none; background-color:#F6F6F6; }
ul.simpleTabsNavigation li a.current { background:#fff; color:#222; border-bottom:1px solid #fff; }
div.simpleTabsContent { border:1px solid #E0E0E0; padding:5px 15px 15px 15px; margin-top:3px; display:none; }
div.simpleTabsContent.currentTab { display:block; }
